@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.about-us-container {
  text-align: center;
  display: flex;
  display: block;
  margin: 0;
  position: absolute;
  padding-left: 8%;
  padding-right: 8%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.social-btn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
  margin: 3%;
  background-image: linear-gradient(
    to right top,
    #d030dd,
    #b827de,
    #9d22df,
    #7d20e0,
    #5421e0
  );
}

.heading h3 {
  text-align: center;
  padding: 4%;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.paragraph {
  text-align: center;
  /* padding: 3%; */
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.takeToSecondaryHomePage-btn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
  background-image: linear-gradient(
    to right top,
    #d030dd,
    #b827de,
    #9d22df,
    #7d20e0,
    #5421e0
  );
}
