@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
