@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home-btn-container {
  text-align: center;
  display: flex;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-heading p {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  /* margin: 3%; */
}

.continue-btn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  background-image: linear-gradient(
    to right top,
    #d030dd,
    #b827de,
    #9d22df,
    #7d20e0,
    #5421e0
  );
}

.aboutus-btn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 1%;
  background-image: linear-gradient(
    to right top,
    #d030dd,
    #b827de,
    #9d22df,
    #7d20e0,
    #5421e0
  );
}

.aboutus-btn-container {
  padding-bottom: 5%;
}
